<div class="profile">
	<div class="profile-image">
  	<%= image_tag user.avatar.thumb.url %>
  </div>

	<div class="profile-user-settings">
    <h1 class="profile-nick-name"><%= user.nickname %></h1>
    <% if user == current_user %>
      <%= link_to t('.edit_profile'), edit_profile_users_path, class: "btn btn-primary" %>
    <% else %>
      <div id='follow-form-<%= user.id %>' class='follow-form'>
        <%= render 'follow_form', user: user %>
      </div>
    <% end %>
  </div>

  <div class="profile-stats">
	  <ul>
		  <li>
        <span class="profile-stat-count"><%= user.posts.count %></span> <%= t('.posts') %>
      </li>
      <li>
        <app
          btn-count=<%= user.passive_relationships.active.count %>
          btn-text=<%= t('.followers') %>
          user-id=<%= user.id %>
          list-type="followers"
          is-current-user=<%= current_user == user %>
        ></app>
      </li>
      <li>
        <app
          btn-count=<%= user.active_relationships.active.count %>
          btn-text=<%= t('.following') %>
          user-id=<%= user.id %>
          list-type="following"
          is-current-user=<%= current_user == user %>
        ></app>
      </li>
		</ul>
	</div>

	<div class="profile-real-name"><%= user.name %></div>
</div>
