<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2><%= t('.title') %></h2>
    <ul class="user-list">
      <% @relationships.each do |item| %>
        <li class="user-item">
          <%= render 'avatar_nick_name', user: item.follower %>
          <div id="relation-<%= item.id %>" class="nav-relation">
            <div class="follow-button">
              <%= link_to t('.unlock'), relationship_path(item), class: "btn btn-default", method: :delete, remote: true %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="text-center">
      <%= paginate @relationships %>
    </div>
  </div>
</div>