<h2><%= t('.title') %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="edit-form">
      <%= simple_form_for @user, url: update_profile_users_path, method: :patch do |f| %>
        <div class="form-inputs">
          <div class="edit-profile-image">
  	        <%= image_tag @user.avatar.thumb.url %>
          </div>
          <%= f.input :remove_avatar, as: :boolean, input_html: { name: 'user[remove_avatar]' } if @user.avatar? %>
          <%= f.file_field :avatar, input_html: { name: 'user[avatar]' } %>
          <%= f.hidden_field :avatar_cache, input_html: { name: 'user[avatar_cache]' } %>
          <%= f.input :name, input_html: { name: 'user[name]' } %>
          <%= f.input :nickname, input_html: { name: 'user[nickname]' } %>
          <%= f.input :email, required: true, input_html: { name: 'user[email]' } %>
          <%= f.input :private, as: :boolean, input_html: { name: 'user[private]' } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to t('.remove'), registration_path(@user), class: "btn btn-danger wide-button", data: { confirm: t('.sure') }, method: :delete %>
      <%= link_to t('.cancel'), root_path, class: "btn btn-default wide-button" %>
    </div>
  </div>
</div>
