<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'small_info' %>
    <h2><%= t('.title') %></h2>
    <ul class="user-list">
      <% @relationships.each do |item| %>
        <li class="user-item">
          <%= render 'avatar_nick_name', user: item.followed %>
          <% if current_user == @user %>
            <div id="relation-<%= item.id %>" class="nav-relation">
              <div class="follow-button">
                <%= link_to t('.unfollow'), relationship_path(item), class: "btn btn-default", method: :delete, remote: true %>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="text-center">
      <%= paginate @relationships %>
    </div>
  </div>
</div>
