<div class="post">
  <div class="post-header">
    <%=link_to image_tag(post.user.avatar.small_thumb.url), user_path(post.user), class: 'post-avatar'%>
    <%= link_to "#{post.user.nickname}", user_path(post.user), class: 'post-nick' %>
    <% if current_user == post.user %>
      <div class="dropdown post-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-option-horizontal"></i>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to t('.edit'), edit_post_path(post) %></li>
          <li><%= link_to t('.delete'), post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="post-image">
    <%= link_to image_tag(post.image.thumb.url), post %>
  </div>
  <div id="post-like-<%= post.id %>" class="post-like">
    <%= render 'posts/like_form', likeable: post %>
  </div>
  <% if post.description.present? %>
    <div class="post-comment">
      <%= link_to "#{post.user.nickname}", user_path(post.user), class: 'post-nick' %>
      <%= post.description%>
    </div>
  <% end %>
  <div class="post-created">
    <%= time_ago_in_words(post.created_at) %>
    <%= t('.ago') %>
  </div>
</div> 