<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "MyInsta", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li>
            <div class="search-form">
              <%= search_form_for @q do |f| %>
                <%= f.search_field :name_or_nickname_cont, placeholder: t('.search')  %>
                <%= button_tag(type: "submit") do %>
                  <i class="glyphicon glyphicon-search"></i>
                <% end %>
              <% end %>
            </div>
          </li>
          <li>
            <button class="header-button" data-toggle="modal" data-target="#new-modal">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </li>
          <li class="dropdown">
            <button class="dropdown-toggle header-button" data-toggle="dropdown">
              <i class="glyphicon glyphicon-bell"></i>
            </button>
            <% if current_user.passive_relationships.pending.any? %>
              <span id="notification-count">
                <%= current_user.passive_relationships.pending.count %>
              </span>
            <% end %>
            <ul class="dropdown-menu">
              <% if current_user.passive_relationships.pending.any? %>
                <%= render 'layouts/notification' %>
              <% else %>
                <li class="no-notification">
                  <%= t('.no_notification') %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" id="small-avatar" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.avatar.small_thumb.url %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('.profile'), current_users_path %></li>
              <li><%= link_to t('.settings'), edit_user_registration_path %></li>
              <li><%= link_to t('.block_list'), declined_users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('.log_in'), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>