<% current_user.passive_relationships.pending.each do |item| %>
  <li class="notification">
    <div>
      <%=link_to image_tag(item.follower.avatar.small_thumb.url), user_path(item.follower), class: 'post-avatar' %>
      <%= link_to "#{item.follower.nickname}", user_path(item.follower), class: 'post-nick' %>
      <%= t('.wants_to_follow') %>
    </div>
    <div id="relation-<%= item.id %>" class="relation-right">
      <%= render 'layouts/relation_button', item: item %>
    </div>
  </li>
<% end %>