<div class="relation-button">
  <div>
    <%= simple_form_for item, remote: true do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'active' } %>
      <%= f.button :submit, t('.confirm'), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div>
    <%= simple_form_for item, remote: true do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'declined' } %>
      <%= f.button :submit, t('.decline'), class: "btn btn-default" %>
    <% end %>
  </div>
</div>